.red{
color:red;
background-color:red;
}
.yellow{
color:yellow;
background-color:yellow;
}
.Black{
color:Black;
background-color:Black;
}
.Blue{
color:Blue;
background-color:Blue;
}
.Green{
color:Green;
background-color:Green;
}
.Gray{
color:Gray;
background-color:Gray;
}
.white{
color:white;
background-color:white;
}
.Orange{
color:Orange;
background-color:Orange;
}
.Cyan{
color:Cyan;
background-color:Cyan;
}
.red{
color:red;
background-color:red;
}
.pink{
color:pink;
background-color:pink;
}

.title{
 font-family: "Times New Roman", Georgia, Serif;
 color:white;
 font-size:80px;
 padding:15px;
 text-align: left;
}

.result{
background-color:#E0E0E0;
width:200px;
color:#CFB53B;
height:40px;
border-radius: 10px 25px;
border: 2px soild;
font-size:20px;
text-align:left;
}

body{
  background-image:  url("tt10.jpg");
}

table{
padding-left:30px;
}

td{
    height: 40px;
	width: 70px;
}
.name{
 font-family:  Georgia, Serif;
 color:white;
 font-size:25px;
 padding:50px;
 margin:60px;
 text-align: left;
}